.about {
    p:first-of-type {
        margin-top: 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}

.sign-options {
    text-align: center;
    a {
        margin: $margin / 2 0;
    }
}
